{%extends 'main/site_base.html' %}
{% load i18n %}
{% load staticfiles%}
{%block body%}
<!-- download attribute forces the browser to download instead of navigating -->


<style type="text/css">
    input[type="file"] {
      display: none;
  }
  .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 10px 12px;
      cursor: pointer;
  }
</style>

<!-- List of uploaded documents
   -->
<section class="mt-5">
  <div class='col-12 text-center header'>
      <h3>{% trans 'Please Upload Wound Image' %}</h3>
  </div>
  {%for t in temp%}
      {{t}} <br>
  {%endfor%}
  <div class="col d-flex justify-content-center">
      {% if message%}
      <script>
        swal("Warning", "{{ message }}", "warning");
      </script>
      {%endif%}
      <form method="POST" id="POItablediv" class='col-11' action="" enctype="multipart/form-data" style="display:inline;">
          {%csrf_token%}


       <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8">
            <div class="row d-flex justify-content-end">
              <label class="custom-file-upload btn btn-info ">
                  <input class='input-file' type="file" accept="image/jpeg,image/png"  multiple  />
                  <i class="fa fa-cloud-upload"></i> {% trans 'Add' %}
              </label>
            </div>

            <div class="table-responsive">
              <table id="POITable" class="table ">
                  <thead class="thead-dark text-center">
                      <tr>
                          <th>#</th>
                          <th>{% trans "Image" %}</th>
                          <th>{% trans 'Location' %} /<br>{% trans 'Distance' %}</th>
                          <th>{% trans "Delete" %}</th>
                      </tr>
                  </thead>
                  {% if wound_image_session%}

                  <tbody>

                      {% for is,val in wound_image_session.items%}
                      <tr  class="text-center">
                        <td class="align-middle">{{forloop.counter}}</td>
                        <td class="align-middle">
                            <img src="{{is}}" alt="images" name="images" value="{{is}}" class="img-fluid upload-image" style="max-width:200px;max-height:200px;">
                        </td>
                        <!--<td class="align-middle">
                          {% if val %}
                            <input type="number" class="input-lg" name="user_calculated_tbsa" step="0.001" style="weight:100%;" value="{{val}}">
                          {%else%}
                            <input type="number" class="input-lg" name="user_calculated_tbsa" step="0.001" style="weight:100%;">
                          {%endif%}
                        </td>-->
                        <td class="align-middle">
                            <select name="woundlocation" id='woundlocation' class="form-control" style="weight:100%;width:auto;display:inline-block;">
                                <option value="Sacral" {%if val.0 == "Sacral"%}selected{%endif%}>Sacral</option>
                                <option value="Trochanter" {%if val.0 == "Trochanter"%}selected{%endif%} >Trochanter</option>
                                <option value="Ischial" {%if val.0 == "Ischial"%}selected{%endif%} >Ischial</option>
                                <option value="Occipital" {%if val.0 == "Occipital"%}selected{%endif%} >Occipital</option>
                                <option value="Heel" {%if val.0 == "Heel"%}selected{%endif%} >Heel</option>
                                <option value="Ankle" {%if val.0 == "Ankle"%}selected{%endif%} >Ankle</option>
                                <option value="Other" {%if val.0 == "Other"%}selected{%endif%} >Other</option>
                            </select>

                            <div class="mt-4">
                              <input id="distance{{val.0}}{{forloop.counter0}}" name="distance"
                                class="slider" type="range" min="0" max="50" step="0.5" value="{{val.1}}"
                                style="width:80%;"
                                onInput="onDragListener('distance{{val.0}}{{forloop.counter0}}','text{{val.0}}{{forloop.counter0}}');"
                                >
                              <div class="col">
                                <span id="text{{val.0}}{{forloop.counter0}}">{{val.1}} cm</span>
                              </div>
                            </div>

                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger align-self-center" onclick="deleteRow(this)"><i class="fas fa-minus"></i></button>
                        </td>
                      </tr>
                      {%endfor%}
                  </tbody>
                  {%endif%}
                  <tbody>
                      <!--{% if documents %}
                          {% for document in documents %}
                          <tr class='text-center'>
                          <td>{{forloop.counter}}</td>
                          <td><img src="{{ document.docfile.url }}" class="img-fluid" style="max-width:200px;max-height:200px;"/></td>
                          <td class='align-middle'>
                              <button class='btn btn-danger' type="button" id="delPOIbutton" onclick="deleteRow(this)"><i
                                      class="fas fa-minus"></i>
                              </button>
                          </td>
                          </tr>
                          {% endfor %}
                      {%endif%}
                      -->
                  </tbody>
              </table>

            </div>

          </div>

        </div>

        <div class='row d-flex justify-content-center'>
            <a class='btn btn-secondary mr-2' href="/">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary" value="upload" >{% trans 'Submit' %}</button>
        </div>

      </form>
  </div>
 
  <div class="tutorial mt-3 text-center">
      <div class="col-12">
          <img src="{% static 'images/demoImage.png'  %}" alt="images" name="show" class="img-fluid" >
      </div>
 <!--
      <div class="sub-tutorial">
          <img src="{% static 'images/tutorial2.jpg'  %}" alt="images" name="show" class="img-fluid " >
      </div>

      <div class="sub-tutorial">
          <img src="{% static 'images/tutorial3.jpg'  %}" alt="images" name="show" class="img-fluid" >
      </div>
      <div class="sub-tutorial">
          <img src="{% static 'images/tutorial4.jpg'  %}" alt="images" name="show" class="img-fluid" >
      </div>
  -->

  </div>
</section>


<script type="text/javascript" src="{% static 'js/burnupload.js' %}">

</script>


 {%endblock%}
